<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal-user/base::layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
	<title>Edit</title>
</head>
<body>
	<section>
		<div class="card  me-3">
			
			<div class="card-body">
				<h1 class="text-center">Edit your Ticket</h1>
				
				
				<!-- Error Message -->
				
				
				
				<div class="container-fluid mt-1">
				
					<div class="row">
						
						<div class="col-md-10 offset-md-1">
							
							<form action="#"
								th:object="${ticket}"
								enctype="multipart/form-data"
								method="post"
								th:action="@{/user/process-update}"
								class="mt-2">
								
								
								<!-- Title -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										
										<div class="input-group-text">
											Title
										</div>
									
									</div>
									
						<input th:value="${ticket.title}" type="text" id="title" name="title" placeholder="Enter Title here " class="form-control" required>
									
								</div>
								
								<!-- Description -->
								<div class="form-group mt-4">
								
									<textarea th:text="${ticket.description}" name="description" id="description" rows="15" class="form-control" placeholder="Enter Description here" required></textarea>	
							
								</div>
								
								<!-- Save Button -->
								
								<div class="container text-center mt-3">
									<button class="btn btn-outline-primary ms-3">Save Content</button>
									<a href="/user/show-tickets/0" class="btn btn-warning btn-sm">Back</a>
								</div>
								
								
								
								</form>
							
						</div>
					
					</div>
				
				</div>
			</div>
			
		</div>
	</section>
</body>
</html>